/* Btn de connexion administrateur */
.login-btn {
  background: none;
  font-size: 24px;
}

.more-info-btn {
  margin: 20% auto;
  font-size: 20px;
  padding: 5%;
  background-color: var(--color3);
  border-radius: 15px;
  transition: 0.3s;
}

.more-info-btn:hover {
  background-color: brown;
  color: white;
}
