.app{
   display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:left ;
    width: 87%;
    height: 45vh;
    padding: 0 1rem;
    overflow: auto;
    background-color:#fdfdfb;
    /* border-radius: 15px;
    box-shadow: 0 0 4px 0 black;
    transition: all 0.3s ease-in-out; */
    margin: 0 auto;
   margin-top: -5.5rem;
}