.section {
  box-shadow: 0 0 4px 0 black;
  border-radius: 15px;
  width: 80%;
  margin: 10% auto;
  background: white;
}

@media screen and (min-width: 768px) {
  .section {
    width: 95%;
  }
}

@media screen and (min-width: 1200px) {
  .sectionDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 3%;
  }
}

@media screen and (min-width: 1900px) {
  .sectionDesktop {
    margin: 5% auto;
    padding: 2%;
  }
  .section {
    width: 80%;
  }

  .section {
    margin: 5% auto;
  }
}
