
.buttonAjouter{
    font-size:xx-large;
    background-color: var(--color3);
    padding-top: 3%;
    border-radius: 8px;
    padding: 5% 15%;
    margin: 5% 20%;
}

.formList {
  padding: 10% 5% 10% 5%;
  margin: 5% 5% 30% 5%;
  width: 90%;
  height: auto;
  border-width: 2px;
  box-shadow: 0 0 4px 0 black;
  border-radius: 15px;
}

.readOnly {
  background-color: gainsboro;
  width: 100%;
  font-size: x-large;
}

.formDiv {
  margin-bottom: 5%;
}

.label {
  font-size: x-large;
}

.warning {
  color: red;
  font-size: medium;
}

.select {
    width: 100%;
    font-size: x-large;
    padding: 2%;
    margin-top: 1%;
}

.input {
  width: 100%;
  font-size: x-large;
}