.title{
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin: 3rem;
    text-align: left;
}

.listeAvis{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crée deux colonnes de taille égale */
    grid-gap: 0.1rem; /* Ajustez comme nécessaire */
    justify-items: start; /* Equivalent de justify-content pour grid */
    align-items: start; /* Equivalent de align-items pour grid */
    width: 90%;
    height: 55vh;
    padding: 0 1rem;
    /* overflow: auto; */
    background-color:#fdfdfb; 
    border-radius: 15px;  
    /* box-shadow: 0 0 4px 0 black; */
       margin: 0 auto;
    margin-top: -2rem; 
}

.boutton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Ceci est juste un exemple, ajustez la hauteur comme vous le souhaitez */


    
}